/* Styles for Sign-up Page */
/* General body styles */
body {
    margin: 0;
    background-size: cover;
    color: black;
    background-image: url('../image/background.jpg') ; /* background image */
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
    
   
}

.signup-container {
    background: rgba(255, 255, 255, 0.9); /* Light background for the form */
    padding: 35px; 
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px; 
    margin: auto; /* Center the form */
    margin-top: 20px;
    z-index: 0; /* Ensure form is above the background */    
}


.signup-container h1 {
    margin-bottom: 10px; /* Space below the header */
    color: #8b4513; /* Dark brown color for the heading */
    font-size: 2.2rem; /* Font size for the heading */
    margin-top: 8px;
    text-align: center;
}

/* Input and Select Styles */
.signup-container input,
.signup-container select {
    width: 100%; 
    padding: 8px; 
    margin: 9px 0; /* Space between inputs */
    border: 1px solid #ccc; /* Border for inputs */
    border-radius: 5px; /* Rounded corners */
    font-size: 1rem; /* Font size for inputs */
}

/* Button Styles */
.signup-container button {
    background-color: #8b4513;
    color: white; /* Text color */
    padding: 12px; 
    border: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    width: 100%; /* Full width of the button */
    font-size: 1.2rem; /* Font size for the button */
}

/* Hover effects for buttons */
.signup-container button:hover {
    background: linear-gradient(135deg, #b8860b, #deb887); /* Gradient on hover */
}

/* Style for the link to login */
.signup-container p {
    margin-top: 20px; /* Space above the paragraph */
}

.signup-container a {
    color: #8b4513; /* Dark brown color for the link */
    text-decoration: none; /* No underline */
}

.signup-container a:hover {
    text-decoration: underline; /* Underline on hover */
}
